* {
    /* Change your font family */
    font-family: 'Merriweather', serif;
    
}
body{
    /* position: relative; */
    background-image: url('lib.jpg');
    background-repeat: no-repeat;
    background-size: 100% 240%;
    background-blend-mode: multiply;
    z-index: -1;
    opacity: 1;

}

a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
    font-size: 20px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: #FFE4C4;
}

a:hover {
    background-color: 	#DAA06D;
    color: black;
}

.previous {
    background-color: #f1f1f1;
    color: black;
}

h1 {
    color: white;
    text-decoration: underline;
}

.content-table {
    background-color: white;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

.content-table th,
.content-table td {
    padding: 12px 15px;
}

.content-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.content-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}